Need "Base64" encoder/decoder

Spanner's `BYTES` data type ([doc here](https://github.com/googleapis/googleapis/blob/master/google/spanner/v1/type.proto#L111)) requires the bytes to be base64-encoded, as described in RFC 4648 section 4, as a proto string. Therefore, we need some functions like the following:

```cc
std::string Base64Encode(std::string bytes);
StatusOr<std::string> Base64Decode(std::string base64);
```

These helpers should be in an internal namespace, probably in google/cloud/spanner/internal/.

We already have very similar (usable) functions in https://github.com/googleapis/google-cloud-cpp/blob/master/google/cloud/storage/internal/openssl_util.h, but that code currently lives in the GCS project and has a dep on some SSL libraries. I filed https://github.com/googleapis/google-cloud-cpp/issues/2796 about possibly moving those functions so that we could use them from this spanner project.

Alternatively, we could implement our own base64 encode/decode helper functions like [Abseil has done](https://github.com/abseil/abseil-cpp/blob/master/absl/strings/escaping.cc#L453).
